In [3]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect('sponavi_colum.db')
c = conn.cursor()

In [6]:
c.execute('select name from sqlite_master')
c.fetchall()

[('colums',), ('sqlite_autoindex_colums_1',)]

In [51]:
sql = 'select url from colums order by random() limit 1 '
c.execute(sql)
print(c.fetchall()[0][0])

https://sports.yahoo.co.jp/column/detail/201001300006-spnavi?p=1

In [31]:
c.execute('pragma table_info(colums)')
c.fetchall()

[(0, 'URL', 'text', 0, None, 1),
 (1, 'Title', 'text', 0, None, 0),
 (2, 'postdate', 'text', 0, None, 0),
 (3, 'credit', 'text', 0, None, 0),
 (4, 'author', 'text', 0, None, 0),
 (5, 'article', 'text', 0, None, 0),
 (6, 'use', 'interger', 0, None, 0)]

In [52]:
sql_update = 'update colums set use = 1 where url="https://sports.yahoo.co.jp/column/detail/201001300006-spnavi?p=1"'
c.execute(sql_update)

In [53]:
conn.commit()

In [54]:
conn.close()